body{background:#44E5E7;
      color:#353535;
      text-align:center;
      width:600px;
      margin:auto;
      font-family: 'Rock Salt', cursive;
      text-shadow: 1px 1px 0px #D9D9D9;
    }
.countdown {width:100%
  hideLabels	: false;
            }